.h1-name-xen,
.h1-name-openvz
{
    font-size: 35px;

    color: #0074c4;
}

.h1-name-openvz:before
{
    display: inline-block;

    width: 66px;
    height: 60px;
    margin: 0 10px 0 0;

    content: '';

    background: url(../img/openvz-logo.png) 0 0 no-repeat;
}

.h1-name-xen:before
{
    display: inline-block;

    width: 81px;
    height: 36px;
    margin: 0 10px 0 0;

    content: '';

    background: url(../img/xen-logo.png) 0 0 no-repeat;
}
